.navBarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #efe7dd;
}

.navBarTitle {
  font-size: 1.5em;
  color: #2d4262;
}

.navBarItem {
  margin: 0 10px;
  color: #2d4262;
}

.homeImage {
  max-width: 200px;
}

.principalButton {
  color: #2d4262;
  border-radius: 8px;
  border: 2px solid #2d4262;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efe7dd;
  cursor: pointer;
  text-decoration: none;
}

.principalButton:hover {
  border-color: #2d4262;
  border-width: 3px;
}
