/* .principalButton {
  color: #2d4262;
  border-radius: 8px;
  border: 2px solid #2d4262;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efe7dd;
  cursor: pointer;
  margin: 0 20px;
}

.principalButton:hover {
  border-color: #2d4262;
  border-width: 3px;
} */
