:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #2d4262;
  background-color: #efe7dd;
}

button {
  color: #2d4262;
  border-radius: 8px;
  border: 2px solid;
  border-color: #2d4262;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efe7dd;
  cursor: pointer;
}

button:hover {
  border-color: #2d4262;
  border: 3px solid;
}

.container {
  display: flex;
  height: 100vh;
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #2d4262;
    background-color: #efe7dd;
  }

  button {
    color: #2d4262;
    border-radius: 8px;
    border: 2px solid;
    border-color: #2d4262;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #efe7dd;
    cursor: pointer;
  }

  button:hover {
    border-color: #2d4262;
    border: 3px solid;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .left-section,
  .right-section {
    width: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-section {
    flex-direction: column;
    margin-bottom: 18%; /* Ajuste para subir la sección un 10% */
  }

  .right-section {
    flex-direction: column;
    margin-bottom: 10%; /* Ajuste para subir la sección un 10% */
  }

  .right-section button {
    margin-top: 1px;
  }
}

.left-section,
.right-section {
  width: 50%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  flex-direction: column;
}

.right-section {
  flex-direction: column;
}

.right-section button {
  margin-top: 10px;
}
