.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  text-align: center; /* Centra el texto */
}

.image {
  max-width: 600px; /* Tamaño máximo de la imagen */
  margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}
