.register-form {
  max-width: 400px; /* Puedes ajustar el ancho máximo del formulario según tu diseño */
  margin: auto; /* Centrar el formulario horizontalmente */
}

.styled-input {
  border: 3px solid #2d4262; /* Borde de color #2d4262 de 3px */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno para el texto */
  margin-bottom: 15px; /* Espacio entre inputs */
  width: 100%; /* Ancho completo del input */
}

.styled-input::placeholder {
  color: #c3c6cc; /* Color del texto del placeholder */
}

.registrarseButton {
  color: #2d4262;
  border-radius: 8px;
  border: 2px solid #2d4262;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efe7dd;
  cursor: pointer;
  margin: auto;
}

.registrarseButton:hover {
  border-color: #2d4262;
  border-width: 3px;
}
